<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>destitle</key>
		<string>ActivityIndicator</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|48</string>
		<key>title</key>
		<string>指示器</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>AlertView</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|49</string>
		<key>title</key>
		<string>提醒对话框</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>Navigation Bar</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|69</string>
		<key>title</key>
		<string>导航条</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>Calendar</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|53</string>
		<key>title</key>
		<string>日历</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>Camera</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|54</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>HUD</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|62</string>
		<key>title</key>
		<string>透明指示层</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>Image</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|63</string>
		<key>title</key>
		<string>图像</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>Keyboard</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|65</string>
		<key>title</key>
		<string>键盘</string>
	</dict>
	<dict>
		<key>destitle</key>
		<string>Label</string>
		<key>url</key>
		<string>forum-2-1.html?&amp;sid=1|66</string>
		<key>title</key>
		<string>标签</string>
	</dict>
</array>
</plist>
